body {
    background-color: rgb(194, 194, 194);
}

.mainHeader {
    color: black;
    text-align: center;
}

.menu{
    position: relative;
    list-style-type: none;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color:white;
    margin: auto;
    width: 90%;
    height: 10%;
    border-radius: 25px;
    font-size: xx-large;
}

.menu li {
    display: inline;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
    flex-grow: 3;
    margin-left: 10%;
    margin-right: 10%;
}

.menu li a {
    color:white;
    text-decoration: none;
}

.navigation {
    position: relative;
    list-style-type: none;
    text-align: center;
    background-color: rgb(145, 145, 145);
    margin: auto;
    width: 50%;
    height: 10%;
    border-radius: 25px;
    font-size: large;
}

.navigation h3{
    text-decoration: underline;
    color: black;
}

.navigation li {
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
    flex-grow: 3;
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
}

.navigation li a {
    color: black;
    text-decoration: none;
}

.footer {
    position: relative;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color:white;
    margin: auto;
    width: 90%;
    height: 18%;
    border-radius: 15px;
    font-size: large;
}

footer {
    text-align: center;
    font-style: normal;
}

h3 {
    text-align: center;
}

h3 a {
    color: black;
}

tableau {
    text-align: center;
}